* {
  box-sizing: border-box;
}
body {
  background-color: #ffdab7;
}
h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
p {
  margin: 0;
  padding: 0;
  height: 100%;
}
td {
  height: 20px;
}
td::-webkit-scrollbar { 
  display: none;
}
input:focus {
  outline: none;
}
#results td:first-child {
  width: 20%;
}

.container {
  max-width: 90vw;
  min-width: 400px;
  height: 100%;
  margin: auto;
  margin-top: 5vh;
  font-family: "Montserrat";
  background-color: #ffffff;
  padding: 20px;
}

#results {
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  table-layout: fixed;
}
#results td:first-child {
  width: 20%;
}
#nutrient-results-container {
  border: 1px solid #ccc;
  flex-grow: 1;
  overflow-y: scroll;
  margin-top: 10px;
  padding: 10px;
}
#nutrient-results {
  width: 100%;
  table-layout: fixed;
}
#category-filter {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 25%;
  overflow-y: scroll;
}
#nutrient-search-container {
  position: relative;
  width: 70%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.row-header {
  text-align: right;
  font-size: 12px;
  overflow: hidden;
}
.nutrient-container {
  height: 20px;
  margin: 2px;
}
.nutrient-label {
  height: 100%;
  width: 100%;
  padding: 3px;
  margin: auto;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.nutrient-bar {
  background: #eaeaea;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  display: inline;
  float: left;
}
.close-button {
  float: right;
  cursor: pointer;
}

.toggle-button {
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
  transition: all 0.2s ease-in-out;
}

.toggle-button.flip {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}
.dropdown-item {
  cursor: pointer;
  padding: 5px;
}
.dropdown-item:hover {
  background-color: #f1f1f1;
}

.portion-input {
  max-width: 90%;
  margin-right: 5px;
}

.hide {
  display: none;
}

